<a href="https://colab.research.google.com/github/shubham-1208/hello-world/blob/main/LinearRegressionAlgo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
teams = pd.read_csv("teams.csv")

In [3]:
teams

     team  year  athletes  events   age  height  weight  prev_medals  medals
0     AFG  1964         8       8  22.0   161.0    64.2          0.0       0
1     AFG  1968         5       5  23.2   170.2    70.0          0.0       0
2     AFG  1972         8       8  29.0   168.3    63.8          0.0       0
3     AFG  1980        11      11  23.6   168.4    63.2          0.0       0
4     AFG  2004         5       5  18.6   170.8    64.8          0.0       0
...   ...   ...       ...     ...   ...     ...     ...          ...     ...
2009  ZIM  2000        26      19  25.0   179.0    71.1          0.0       0
2010  ZIM  2004        14      11  25.1   177.8    70.5          0.0       3
2011  ZIM  2008        16      15  26.1   171.9    63.7          3.0       4
2012  ZIM  2012         9       8  27.3   174.4    65.2          4.0       0
2013  ZIM  2016        31      13  27.5   167.8    62.2          0.0       0

[2014 rows x 9 columns]

In [4]:
X = teams[["athletes","prev_medals"]].copy()
Y = teams[["medals"]].copy()

making two matrices

In [5]:
X

      athletes  prev_medals
0            8          0.0
1            5          0.0
2            8          0.0
3           11          0.0
4            5          0.0
...        ...          ...
2009        26          0.0
2010        14          0.0
2011        16          3.0
2012         9          4.0
2013        31          0.0

[2014 rows x 2 columns]

In [26]:
Y

      medals
0          0
1          0
2          0
3          0
4          0
...      ...
2009       0
2010       3
2011       4
2012       0
2013       0

[2014 rows x 1 columns]

In [7]:
X["intercept"] = 1

In [8]:
X

      athletes  prev_medals  intercept
0            8          0.0          1
1            5          0.0          1
2            8          0.0          1
3           11          0.0          1
4            5          0.0          1
...        ...          ...        ...
2009        26          0.0          1
2010        14          0.0          1
2011        16          3.0          1
2012         9          4.0          1
2013        31          0.0          1

[2014 rows x 3 columns]

In [16]:
X = X[["intercept", "athletes","prev_medals"]]

In [17]:
X_T = X.T

T is for transpose.

In [18]:
X_T

,0,1,2,3,4,5,6,7,8,9,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
intercept,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
athletes,8.0,5.0,8.0,11.0,5.0,4.0,6.0,3.0,4.0,5.0,...,52.0,20.0,47.0,28.0,21.0,26.0,14.0,16.0,9.0,31.0
prev_medals,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,15.0,0.0,0.0,0.0,0.0,0.0,3.0,4.0,0.0

In [19]:
B = np.linalg.inv(X_T @ X) @ X_T @ Y

B is formula for calculating coefficients.

@ is matrix multiplication operator, we are multiplying x transpose with x and taking inverse of the whole matrix.

In [20]:
B

     medals
0 -1.961889
1  0.071112
2  0.734137

In [21]:
B.index = X.columns

In [22]:
B

               medals
intercept   -1.961889
athletes     0.071112
prev_medals  0.734137

In [23]:
predictions = X @ B

In [24]:
predictions

        medals
0    -1.392992
1    -1.606329
2    -1.392992
3    -1.179656
4    -1.606329
...        ...
2009 -0.112974
2010 -0.966319
2011  1.378315
2012  1.614667
2013  0.242587

[2014 rows x 1 columns]

In [27]:
SSR = ((Y - predictions) ** 2).sum()

In [28]:
SST = ((Y - Y.mean()) ** 2).sum()

In [29]:
SSR

medals    290620.124598
dtype: float64

In [30]:
SST

medals    2.276322e+06
dtype: float64

In [31]:
R2 = 1 - (SSR/SST)

In [32]:
R2

medals    0.872329
dtype: float64

In [39]:
from sklearn.linear_model import LinearRegression

In [40]:
lr = LinearRegression()

In [42]:
lr.fit(teams[["athletes","prev_medals"]],teams[["medals"]])

LinearRegression()

In [43]:
lr.intercept_

array([-1.96188939])

In [46]:
lr.coef_

array([[0.07111214, 0.73413679]])